{% extends "base.twig" %}

{% block body %}
    {% include "breadcrumb.twig" %}

    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for post in posts %}
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="{{ post.thumbnail.src | resize("post_thumbnail") }}" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>{{ post.date | date("d") }}</h3>
                                        <p>{{ post.date | date("M") }}</p>
                                    </a>
                                </div>

                                <div class="blog_details">
                                    <a class="d-inline-block" href="{{ post.link }}">
                                        <h2>{{ post.title }}</h2>
                                    </a>
                                    <p>{{ post.preview.read_more(false) }}</p>
                                    <ul class="blog-info-link">
                                        <li>
                                            <i class="far fa-user"></i>
                                            {{ category_by_post(post) | raw }}
                                        </li>
                                        <li><a href="{{ post.link }}"><i class="far fa-comments"></i>{{ comments_number() }}</a></li>
                                    </ul>
                                </div>
                            </article>
                        {% endfor %}

                        {{ paginate_links() | raw }}
                    </div>
                </div>


                <!-- sidebar -->
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        {{ dynamic_sidebar|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
