{{ args.before_widget|raw }}

    {{ args.before_title|raw }}
        {{ instance.title }}
    {{ args.after_title|raw }}

    <div class="opening_hours">
        {{ format_hours(days, opening_hours) | raw}}
    </div>

{{ args.after_widget|raw }}