{{ args.before_widget|raw }}

    {{ args.before_title|raw }}
        {{ instance.title }}
    {{ args.after_title|raw }}

    <ul class="list">
        {% for tag in tag_cloud %}
            <li>{{ tag|raw }}</li>
        {% endfor %}
    </ul>

{{ args.after_widget|raw }}