<div class="comment-list" id="comment-{{ comment.id }}">

    <!-- comment -->
    <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-start d-flex">
            <div class="thumb">
                {{ get_avatar(comment.ID, 43) | raw }}
            </div>
            <div class="desc">
                <p class="comment">{{ comment.comment_content | raw }}</p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <h5>
                            <a href="#" class="text-capitalize">{{ comment.author.name }}</a>
                        </h5>
                        <p class="date">{{ comment.date | date(options.date_format) ~ __(" at ", "dingo") ~ comment.time | date(options.time_format) }} </p>
                    </div>
                    <div class="reply-btn">
                        {{ comment.reply_link | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- reply to a comment -->
    {% if comment.children %}
        <div class="replies single-comment justify-content-between flex-column d-flex"> 
        {% for child_comment in comment.children %}
            {% include 'comment.twig' with { comment:child_comment } %}
        {% endfor %}
        </div> 
    {% endif %}    
</div>