<footer class="footer-area">
    <div class="container">
        <div class="row">
            {{ dynamic_sidebar_footer|raw }}
        </div>

        <div class="copyright_part_text">
            <div class="row">
                <div class="col-lg-8">
                    <p class="footer-text m-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="copyright_social_icon text-right">
                        <a href="{{ 'https://www.facebook.com/' ~ rs.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="{{ 'https://twitter.com/' ~ rs.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="{{ 'https://www.instagram.com/' ~ rs.instagram }}" target="_blank"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{{ function("wp_footer") }}