<section class="about_part about_bg" data-setbg="{{ Image(post.meta("about_section_background")).src }}">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="{{ Image(post.meta("about_section_image")).src|resize("about_image_content") }}" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <p>{{ post.about_section_subtitle }}</p>
                    <h2>{{ post.about_section_title }}</h2>
                    <h4>{{ post.about_section_intro }}</h4>
                    <p>{{ post.about_section_content }}</p>
                    <a href="#" class="btn_3">Read More <img src="{{ theme.link ~ '/assets/images/icon/left_2.svg' }}"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>